@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html{
  background: #ffffff;
}
body{
  margin-left: 5.5%;
  background-color: #e3e3e3;
  background-size: 450px;
  width: 1200px;
  height: 1550px;
  line-height: 1.6em;
  position: absolute;
}

h1{
  font-family: 'poppins', monospace;
  color: #f95959;
  text-align: center;
}

h2{
  font-family: 'poppins', monospace;
  color: #f95959;
  text-align: center;
}

p{
  color: #233142;
  font-family: 'poppins', monospace;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: 200%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
  
  li {
    font-size: 16px;
    display: inline-block;
    width: 30%;
    margin-right: 2.5%;
    margin-bottom: 2%;
  }

 a {
    background: #f95959;
    color: white;
    display: inline-block;
    padding: 1em 2em;
    border-radius: 2em;
    text-decoration: none;
    font-size: 120%;
  }

  img {
    transition: transform 0.2s ease;
  }
  
  img:hover {
    transform: scale(1.1);
  }

  .color1 {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }

  .color2 {
    -webkit-filter: hue-rotate(100deg);
    filter: hue-rotate(100deg);
  }